* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

body {
  position: relative;
  max-width: 420px;
  height: 100vh;
  overflow: hidden; }

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 999;
  opacity: 0; }
  .nav__lists {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style: none; }
  .nav__list-my-location {
    flex-flow: 1;
    width: 30%;
    height: 100%;
    text-align: center; }
  .nav__list-search {
    flex-flow: 1;
    width: 30%;
    height: 100%;
    text-align: center; }
  .nav__list-city {
    flex-flow: 1;
    width: 30%;
    height: 100%;
    text-align: center; }

.btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #4A4A4A; }

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #BADAFC;
  overflow: hidden; }
  .intro__big-cloud {
    position: absolute;
    top: 48%;
    left: 38%;
    transform: translate(-50%, -50%);
    fill: white;
    width: 130px;
    height: 90px;
    z-index: 3; }
  .intro__small-cloud {
    position: absolute;
    top: 42%;
    left: 72%;
    transform: translate(-50%, -50%);
    fill: white;
    width: 80px;
    height: 50px;
    z-index: 2; }
  .intro__sun {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 135px;
    z-index: 1; }

.main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #BADAFC; }
  .main__location {
    width: 70%;
    margin: 7% 0 0 0;
    color: #4A4A4A;
    font-size: 2.2rem;
    text-align: center; }
  .main__add-location {
    width: 25px;
    height: 25px;
    margin: 9.7% 0 0 0;
    border: none;
    border-radius: 50%;
    color: #BADAFC;
    font-size: 1rem;
    background: #4A4A4A;
    text-align: center; }
  .main__date {
    width: 100%;
    margin: 1% 0 0 0;
    color: #99A0AD;
    font-weight: 400;
    text-align: center; }
  .main__location-time {
    width: 100%;
    margin: 7% 0 0 0;
    font-size: 3rem;
    color: #4A4A4A;
    text-align: center; }
  .main__weather-location {
    position: relative;
    width: 100%;
    height: 18%;
    text-align: center; }
  .main__weather-location-png {
    width: 80px;
    height: 80px;
    margin: 10px 0; }
  .main__weather-description {
    width: 100%;
    color: #99A0AD;
    font-size: 1.2rem;
    text-align: center; }
  .main__weather-temp {
    width: 100%;
    margin: 3% 0 0 0;
    text-align: center;
    font-size: 3rem;
    color: #4A4A4A; }
  .main__swiper-container {
    width: 100%;
    height: 20%;
    margin: 10% 0 0 0; }
  .main__swiper-wrapper {
    width: 100%;
    height: 100%; }
  .main__swiper-slide {
    width: 40%;
    height: 70%;
    margin-left: 10%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3); }
  .main__title {
    padding-top: 10%;
    color: #99A0AD;
    font-size: 1.3rem; }
  .main__value {
    margin-top: 5%;
    color: #4A4A4A;
    font-size: 1.3rem;
    font-weight: 500; }

.all-city {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  z-index: 3;
  -webkit-backdrop-filter: blur(3px); }
  .all-city__content {
    position: relative;
    width: 90%;
    height: 10%;
    margin-top: 10%;
    text-align: right;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff; }
  .all-city__name {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    margin-right: 5%;
    font-size: 2rem;
    color: #4A4A4A;
    font-weight: 500; }
  .all-city__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    border-radius: 20px 0 0 20px;
    border: none;
    background-color: #FF8787;
    color: white; }

.city-search {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  z-index: 3;
  -webkit-backdrop-filter: blur(3px); }
  .city-search__input {
    width: 80%;
    height: 7%;
    font-size: 15px;
    padding-left: 20px;
    color: #4A4A4A;
    border-radius: 25px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none; }
  .city-search__btn {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: #BADAFC;
    color: #4A4A4A;
    cursor: pointer; }
