* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    position: relative;
    max-width: 420px;
    // max-height: 813px;
    height: 100vh;
    overflow: hidden;

}